.column {
  padding: 20px;
}

.image {
  margin: 20px auto;
  width: 100%;
  height: 100%;
  display: block;
}

.button {
  text-align: center;
  display: block;
}

.searchBox {
    margin: 20px auto;
    width: 100%;
}
